{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": "error"
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "plugins": ["@typescript-eslint", "unused-imports"],
      "extends": [
        "airbnb-typescript",
        "next",
        "next/core-web-vitals",
        "plugin:prettier/recommended"
      ],
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "rules": {
        "prettier/prettier": [
          "error",
          {
            "singleQuote": false
          }
        ],
        "no-param-reassign": "off",
        "no-nested-ternary": "off",
        "react/jsx-props-no-spreading": "off",
        "react/display-name": "off",
        "react/jsx-curly-brace-presence": "off",
        "react/button-has-type": "off",
        "@typescript-eslint/no-shadow": "off",
        "react-hooks/exhaustive-deps": "off",
        "unused-imports/no-unused-vars": "off",
        "react/no-array-index-key": "off",
        "react/destructuring-assignment": "off", // Vscode doesn't support automatically destructuring, it's a pain to add a new variable
        "jsx-a11y/anchor-is-valid": "off", // Next.js use his own internal link system
        "react/require-default-props": "off", // Allow non-defined react props as undefined
        "@next/next/no-img-element": "off", // We currently not using next/image because it isn't supported with SSG mode
        "@next/next/no-document-import-in-page": "off",
        "import/prefer-default-export": "off",
        "@typescript-eslint/no-unused-vars": "off"
      }
    }
  ]
}
